@font-face {
    font-family: mottoFont;
    src: url("../fonts/SCRIPTIN.ttf") format("TrueType");
}

@font-face {
    font-family: angelinaFont;
    src: url("../fonts/angelina.ttf") format("TrueType");
}

@font-face {
    font-family: jinkaiFont;
    src: url("http://107.173.140.254/files/jinkai.ttf") format("TrueType");
}
